.headerImg {
  background: url(../images/header.jpg) no-repeat;
  height: 300px;
  background-size: cover;
  opacity: .8;
}
.headerImg > div {
  height: 250px;
  width: 100%;
}
.headerImg > ul {
  margin-left: 1000px;
  float: left;
}
.headerImg > ul > li {
  float: left;
}
.headerImg > ul > li > a {
  display: block;
  margin: 0 10px;
  padding: 5px 10px;
  background: blue;
  color: white;
  border-radius: 5px;
}
main > div {
  width: 70%;
}
main > div > header {
  line-height: 80px;
  text-align: center;
}
main > div > p {
  line-height: 40px;
  text-align: center;
}
main > div > p > span {
  margin: 0 20px;
}
main > div > .content {
  font-size: 12px;
  padding: 20px 0 0 0;
}
.anchor {
  width: 20px;
  position: fixed;
  top: 600px;
  right: 100px;
}
.anchor > a {
  display: block;
  width: 100%;
  padding: 10px;
}
