body {
  width: 1200px;
  margin: 0 auto;
}
div {
  margin: 50px auto 0;
  text-align: center;
  width: 600px;
}
div h1 {
  margin-bottom: 20px;
}
div > input {
  width: 200px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  line-height: 30px;
  box-sizing: border-box;
  padding-left: 10px;
}
div > input:nth-of-type(4) {
  width: 240px;
  text-align: center;
  padding: 5px 0;
  background-color: #2e84cf;
  border-radius: 5px;
  color: white;
}
